* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}


.heads {
    background-color: #5f3d94;
    padding: 20px;
    width: 100%;
}


.navbar a:hover {
    color: #5f3d94;
    font-weight: bold;
}

.navbar a {
    padding: 30px;
    text-decoration: none;
    color: #555555;
}

.banner-left p {
    font-size: 23px;
    color: #bbadd3;
}

.banner-left h1 {
    font-size: 40px;
    font-weight: 400;

}

.container {
    width: 1110px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.content {
    padding-left: 50px;
    width: 50%;
}

.card {
    height: 600px;
    width: 350px;

}

.card img {
    width: 100%;
}

/* section */
.container-fluid {
    background-color: #f9f7fd;
}

.highlight {
    color: #b34eec;
}

.btn {
    background-color: #5f3d94;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    font-size: 15px;
}

.topic {
    padding-top: 120px;
    padding-bottom: 80px;
}

.card-container {
    padding-bottom: 120px;
}

/* footer */

footer {
    background-color: #5f3d94;
    color: #bbadd3;
    font-size: 14px;
    
}

.icons {
    gap: 20px;
}

ul.footer-menu {
    flex-wrap: wrap;
    width: 100%;

}

.footer-menu li {
    width: 50%;
    list-style-type: none;
    color: #8e76b3;
}

.footer-row {
    padding-top: 10px;
}

.last-line {
    padding: 40px;
}
.custom-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; /* Adjust as needed */
}


.navbar-brand img {
    height: 40px; /* Change the logo height to make it smaller */
}
.navbar-toggler {
    border: none; /* Remove the default border if necessary */
}

.navbar-toggler-icon {
    background-image: none; /* Remove default Bootstrap icon */
    color: greenyellow; /* Set a custom color for the icon */
    font-size: 1.5rem; /* Adjust size of the icon */
    display: inline-block;
    position: relative;

}

/* Create the hamburger icon using custom styles */
.navbar-toggler-icon::before, 
.navbar-toggler-icon::after, 
.navbar-toggler-icon span {
    content: '';
    background-color:  #ffcc00; /* Change this to any color you want */
    display: block;
    height: 3px; /* Thickness of the lines */
    width: 24px; /* Width of the lines */
    margin: 5px 0;
}

/* Adjust the icon appearance on hover */
.navbar-toggler:hover .navbar-toggler-icon::before,
.navbar-toggler:hover .navbar-toggler-icon::after,
.navbar-toggler:hover .navbar-toggler-icon span {
    background-color: #ffcc00; /* Change color on hover if needed */
}